<h1>TASK DESCRIPTION</h1>

<h3><%= @task.title %></h3>
<p><%= @task.details %></p>

<div>
  <%= link_to "Tasks list", tasks_path  %>
</div>

<div>
  <%= link_to "Edit task", edit_path(@task)  %>
</div>

<%= link_to "Delete",
  task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
